CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_cpufreq=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_libfdisk=y
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_wpad=y
# CONFIG_PACKAGE_wpad-openssl is not set
