#  libwrt-6.x-main
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_jdcloud_ax1800-pro=y
CONFIG_PACKAGE_libopenssl-conf=m
CONFIG_PACKAGE_libopenssl-legacy=m
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-i18n-cpufreq-zh-cn=y
CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_wpad-openssl=m
